@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SpendTracker</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">See Expenses</a>
    <a asp-controller="Home" asp-action="CreateEditExpenses" class="btn btn-secondary">Create or Edit Expenses</a>
</div>
